@model InterparkingTest.Application.Domain.RouteDefinition

@{
    ViewData["Title"] = "Create";
}

<h1>Create a route</h1>

<hr />
<form asp-action="Create">
    <h4>Departure</h4>
    <div class="row">
        <div class="form-group col-md-4">
            <label asp-for="StartPoint.Longitude" class="control-label"></label>
            <input asp-for="StartPoint.Longitude" class="form-control" placeholder="ex.: 54.125687" />
            <span asp-validation-for="StartPoint.Longitude" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="StartPoint.Latitude" class="control-label"></label>
            <input asp-for="StartPoint.Latitude" class="form-control" />
            <span asp-validation-for="StartPoint.Latitude" class="text-danger"></span>
        </div>
    </div>
    <h4>Arrival</h4>
    <div class="row">
        <div class="form-group col-md-4">
            <label asp-for="EndPoint.Latitude" class="control-label"></label>
            <input asp-for="EndPoint.Latitude" class="form-control" placeholder="ex.: 54.125687" />
            <span asp-validation-for="EndPoint.Latitude" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="EndPoint.Latitude" class="control-label"></label>
            <input asp-for="EndPoint.Latitude" class="form-control" />
            <span asp-validation-for="EndPoint.Latitude" class="text-danger"></span>
        </div>
    </div>
    <h4>Fuel consumption</h4>
    <div class="row">
        <div class="form-group col-md-4">
            <label asp-for="CarConsumption" class="control-label">Car consumption</label>
            <input asp-for="CarConsumption" class="form-control" />
            <span asp-validation-for="CarConsumption" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="EngineStartEffort" class="control-label">Engine start effort</label>
            <input asp-for="EngineStartEffort" class="form-control" />
            <span asp-validation-for="EngineStartEffort" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
        <a class="btn btn-outline-primary" asp-action="Index">Cancel</a>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
