@model RouteFormData

<h1>@(ViewData["Title"])</h1>

<hr />
<form asp-action="Save">
    <input asp-for="Id" type="hidden" />
    <h4>Deparure</h4>
    <div class="row">
        <div class="form-group col-md-8">
            <label class="control-label">Parking name</label>
            <input id="startSearch" class="form-control" placeholder="ex.: Rogier, De Brouckère" />
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-4">
            <label asp-for="Route.StartPoint.Latitude" class="control-label"></label>
            <input id="startLatitude" asp-for="Route.StartPoint.Latitude" class="form-control" placeholder="ex.: 50.125687" />
            <span asp-validation-for="Route.StartPoint.Latitude" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Route.StartPoint.Longitude" class="control-label"></label>
            <input id="startLongitude" asp-for="Route.StartPoint.Longitude" class="form-control" placeholder="ex.: 4.345677" />
            <span asp-validation-for="Route.StartPoint.Longitude" class="text-danger"></span>
        </div>
    </div>
    <h4>Arrival</h4>
    <div class="row">
        <div class="form-group col-md-8">
            <label class="control-label">Parking name</label>
            <input id="endSearch" class="form-control" placeholder="ex.: Rogier, De Brouckère" />
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <label asp-for="Route.EndPoint.Latitude" class="control-label"></label>
            <input id="endLatitude" asp-for="Route.EndPoint.Latitude" class="form-control" placeholder="ex.: 50.125687" />
            <span asp-validation-for="Route.EndPoint.Latitude" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Route.EndPoint.Longitude" class="control-label"></label>
            <input id="endLongitude" asp-for="Route.EndPoint.Longitude" class="form-control" placeholder="ex.: 4.345677" />
            <span asp-validation-for="Route.EndPoint.Longitude" class="text-danger"></span>
        </div>
    </div>
    <h4>Fuel consumption</h4>
    <div class="row">
        <div class="form-group col-md-4">
            <label asp-for="Route.CarConsumption" class="control-label">Car consumption (L/100 km)</label>
            <input asp-for="Route.CarConsumption" class="form-control" />
            <span asp-validation-for="Route.CarConsumption" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Route.EngineStartEffort" class="control-label">Engine start effort (ml)</label>
            <input asp-for="Route.EngineStartEffort" class="form-control" />
            <span asp-validation-for="Route.EngineStartEffort" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <span class="col text-danger mb-3">@(ViewData["ErrorMessage"])</span>
    </div>
    <div class="row">
        <div class="form-group col">
            <input type="submit" value="Save" class="btn btn-primary" />
            <a class="btn btn-outline-primary" asp-action="Index">Cancel</a>
        </div>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script>window.com_satellit_api_key = "@(ViewData["ApiKey"])";</script>
    <script src="~/js/route-form.js"></script>
}

@section Head {
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/ui-lightness/jquery-ui.css" />
}
