@{
    ViewData["Title"] = "Routes";
}

@model List<InterparkingTest.Application.Domain.Route>
<div class="text-center">
    <h1 class="display-4">Routes</h1>
</div>

@if (Model.Count == 0)
{
    <div>No routes</div>
    <a asp-action="Create">Create one</a>
}
else
{
    <table>
        <tr>
            <th>Start</th>
            <th>Stop</th>
        </tr>
        @foreach (var route in Model)
        {
            <tr>
                <td>@(route.StartPoint.Latitude)</td>
            </tr>
        }
    </table>
}
